@using Microsoft.AspNet.Identity;
@model Auction.WEB.Models.DetailedLotViewModel

<div>
    <p>
        <h4>Current bid:</h4>
        $@Html.DisplayFor(model => model.CurrentPrice)
    </p>
    @{
        if (!User.IsInRole("user"))
        {
            <h5>Only users can bid on lots</h5>
        }
        else if (Model.SellerId == User.Identity.GetUserId())
        {
            <h5>You cannot bid on your own lot</h5>
        }
        else if (Model.BidderId == User.Identity.GetUserId())
        {
            <h5>Your bid is highest right now</h5>
        }
        else
        { 
            <p>
                @*      @Html.EditorFor(model => model.NewPrice, new { htmlAttributes = new { @class = "form-control" } })*@
                <input type="number" step="#.00" name="bid" value="0.00" required="" class="form-control" />
                @Html.ValidationSummary("", new { @class = "text-danger" })
            </p>
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Bid on this lot" class="btn btn-default" />
            </div>
        }
    }
</div>
